@import url("bootstrap.min.css");

body{
    padding: 0;
    margin: 0;
    background-color:  #f1f1f1;
}
.menu{
    padding: 0;
    margin: 0;
}
.carousel-item{
    height: 80vh;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.w-100{
    height: 100vh;
}
@media only screen and (max-width:768px) {
    .carousel-item{
        height: auto;
    } 
    .w-100{
        height: auto;
    }
}
.cont{
   padding-top: 15px;
   align-content: center;
   background-color:  #f1f1f1;
}
.cont img{
    padding-top: 10px;
    width: 85%;
    height: 80%;
    -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
 }
 .cont img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }
 footer{
    margin-top: 10px;
    padding: 0;
    height: 250px;
 }
 footer section{
   align-content: center; 
 }